* {
  padding: 0;
  margin: 0;
  font-size: 26px;
  background-color: rgb(179, 176, 176);
}
input {
  margin: 5px;
  background-color: white;
  border: 1px solid black;
}
select {
  background-color: white;
  border: 1px solid black;
}
span {
  font-weight: bold;
}
.list {
  list-style: none;
  padding: 15px;
}
h1 {
  font-size: 32px;
  margin-left: 100px;
}
button {
  background-color: rgb(49, 129, 49);
  border: 2px solid black;
  margin-top: 5px;
  padding: 5px;
  margin-left: 75px;
  cursor: pointer;
  border-radius: 10%;
}
